In [1]:
# import packages
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns 
import os
import glob
from datetime import date

## ABUD. Part data aggregation

In [4]:
# read in the data
bgi = pd.read_csv('input/BGI_merged_output_part.csv')

# split name column by first space
bgi['name'] = bgi['name'].str.split(' ', 1).str[0]
bgi = bgi.groupby('name').sum().reset_index()

bgi.to_excel('results/aggregation/abud/genus_BGI_merged_output_part.xlsx', index=False)
bgi.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/3871024447.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  bgi['name'] = bgi['name'].str.split(' ', 1).str[0]

,name,bgi_VNN89Q,bgi_VNIDA4,bgi_V4O7YS,bgi_VPEB3X,bgi_VJ1AZM,bgi_VAEQ34,bgi_VR8E19,bgi_V2VJWP,bgi_VMJVUD,...,bgi_VFZ765,bgi_VI7GET,bgi_VYYIUL,bgi_VC7BF0,bgi_VNJOCX,bgi_V7H80T,bgi_VNFOKA,bgi_VF64R7,bgi_VBSSCF,bgi_VE0WMY
0,43-108,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0,0.00000
1,51-20,0.05990,0.0,0.0,0.0,0.01945,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0,0.00000
2,Acetatifactor,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00000,0.01851,0.0,0.00000,0.01117,0.00000,0.0,0.00000
3,Acidaminococcus,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0,0.00000
4,Agathobacter,0.04617,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.01744,0.00000,0.0,0.01431,0.01915,0.01322,0.0,0.02352

In [5]:
ill = pd.read_csv('input/Illumina_merged_output_part.csv')
# split name column by first space
ill['name'] = ill['name'].str.split(' ', 1).str[0]
ill = ill.groupby('name').sum().reset_index()

ill.to_excel('results/aggregation/abud/genus_Illumina_merged_output_part.xlsx', index=False)
ill.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/1143092862.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  ill['name'] = ill['name'].str.split(' ', 1).str[0]

,name,ill_V97EBU,ill_V1JCFD,ill_V4CXS7,ill_VHCS90,ill_VRKHLF,ill_V1YEIC,ill_VMSN9G,ill_V75JUD,ill_VCJBZ5,...,ill_VE0RG7,ill_VGZKT8,ill_V8L9OK,ill_V9V2LZ,ill_VJPDB3,ill_V9GGFQ,ill_VRVQLE,ill_V5Y6CN,ill_V8A98P,ill_VDZJH4
0,43-108,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,...,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
1,51-20,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,...,0.0,0.00000,0.0,0.0,0.01784,0.0,0.0,0.0,0.0,0.0
2,Acetatifactor,0.0,0.0,0.0,0.0,0.0,0.00000,0.02934,0.01995,0.01079,...,0.0,0.02864,0.0,0.0,0.01924,0.0,0.0,0.0,0.0,0.0
3,Acidaminococcus,0.0,0.0,0.0,0.0,0.0,0.03086,0.00000,0.00000,0.00000,...,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
4,Agathobacter,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.01094,0.01328,...,0.0,0.00000,0.0,0.0,0.01389,0.0,0.0,0.0,0.0,0.0

## ABUD. All data aggregation

In [6]:
# read in the data
bgi = pd.read_csv('input/BGI_merged_output_all.csv')

# split name column by first space
bgi['name'] = bgi['name'].str.split(' ', 1).str[0]
bgi = bgi.groupby('name').sum().reset_index()

bgi.to_excel('results/aggregation/abud/genus_BGI_merged_output_all.xlsx', index=False)
bgi.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/2898579954.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  bgi['name'] = bgi['name'].str.split(' ', 1).str[0]

,name,bgi_VNN89Q,bgi_VNIDA4,bgi_V4O7YS,bgi_VPEB3X,bgi_VJ1AZM,bgi_VAEQ34,bgi_VR8E19,bgi_V2VJWP,bgi_VMJVUD,...,bgi_VFZ765,bgi_VI7GET,bgi_VYYIUL,bgi_VC7BF0,bgi_VNJOCX,bgi_V7H80T,bgi_VNFOKA,bgi_VF64R7,bgi_VBSSCF,bgi_VE0WMY
0,0-14-0-20-30-16,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0-14-0-20-34-12,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0-14-0-20-44-26,0.0,0.0,0.0,0.0,0.0,0.00001,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0-14-0-20-45-22,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0-14-0-20-51-18,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
ill = pd.read_csv('input/Illumina_merged_output_all.csv')
# split name column by first space
ill['name'] = ill['name'].str.split(' ', 1).str[0]
ill = ill.groupby('name').sum().reset_index()

ill.to_excel('results/aggregation/abud/genus_Illumina_merged_output_all.xlsx', index=False)
ill.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/4271361681.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  ill['name'] = ill['name'].str.split(' ', 1).str[0]

,name,ill_V97EBU,ill_V1JCFD,ill_V4CXS7,ill_VHCS90,ill_VRKHLF,ill_V1YEIC,ill_VMSN9G,ill_V75JUD,ill_VCJBZ5,...,ill_VE0RG7,ill_VGZKT8,ill_V8L9OK,ill_V9V2LZ,ill_VJPDB3,ill_V9GGFQ,ill_VRVQLE,ill_V5Y6CN,ill_V8A98P,ill_VDZJH4
0,0-14-0-10-38-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0-14-0-20-30-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0-14-0-20-34-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0-14-0-20-44-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0-14-0-20-45-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## NUMB. Part data aggregation

In [8]:
# read in the data
bgi = pd.read_csv('input/BGI_merged_output_part_numb.csv')

# split name column by first space
bgi['name'] = bgi['name'].str.split(' ', 1).str[0]
bgi = bgi.groupby('name').sum().reset_index()

bgi.to_excel('results/aggregation/numb/genus_BGI_merged_output_part_numb.xlsx', index=False)
bgi.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/3786589560.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  bgi['name'] = bgi['name'].str.split(' ', 1).str[0]

,name,bgi_VNN89Q,bgi_VNIDA4,bgi_V4O7YS,bgi_VPEB3X,bgi_VJ1AZM,bgi_VAEQ34,bgi_VR8E19,bgi_V2VJWP,bgi_VMJVUD,...,bgi_VFZ765,bgi_VI7GET,bgi_VYYIUL,bgi_VC7BF0,bgi_VNJOCX,bgi_V7H80T,bgi_VNFOKA,bgi_VF64R7,bgi_VBSSCF,bgi_VE0WMY
0,43-108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,51-20,743009.0,0.0,0.0,0.0,270471.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Acetatifactor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,244513.0,0.0,0.0,131123.0,0.0,0.0,0.0
3,Acidaminococcus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Agathobacter,572710.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,220044.0,0.0,0.0,178243.0,224847.0,191282.0,0.0,319686.0

In [10]:
ill = pd.read_csv('input/Illumina_merged_output_part_numb.csv')
# split name column by first space
ill['name'] = ill['name'].str.split(' ', 1).str[0]
ill = ill.groupby('name').sum().reset_index()

ill.to_excel('results/aggregation/numb/genus_Illumina_merged_output_part_numb.xlsx', index=False)
ill.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/1723774946.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  ill['name'] = ill['name'].str.split(' ', 1).str[0]

,name,ill_V97EBU,ill_V1JCFD,ill_V4CXS7,ill_VHCS90,ill_VRKHLF,ill_V1YEIC,ill_VMSN9G,ill_V75JUD,ill_VCJBZ5,...,ill_VE0RG7,ill_VGZKT8,ill_V8L9OK,ill_V9V2LZ,ill_VJPDB3,ill_V9GGFQ,ill_VRVQLE,ill_V5Y6CN,ill_V8A98P,ill_VDZJH4
0,43-108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,51-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,243812.0,0.0,0.0,0.0,0.0,0.0
2,Acetatifactor,0.0,0.0,0.0,0.0,0.0,0.0,377366.0,320474.0,142045.0,...,0.0,370917.0,0.0,0.0,262967.0,0.0,0.0,0.0,0.0,0.0
3,Acidaminococcus,0.0,0.0,0.0,0.0,0.0,440792.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Agathobacter,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175684.0,174849.0,...,0.0,0.0,0.0,0.0,189883.0,0.0,0.0,0.0,0.0,0.0

## NUMB. All data aggregation

In [11]:
# read in the data
bgi = pd.read_csv('input/BGI_merged_output_all_numb.csv')

# split name column by first space
bgi['name'] = bgi['name'].str.split(' ', 1).str[0]
bgi = bgi.groupby('name').sum().reset_index()

bgi.to_excel('results/aggregation/numb/genus_BGI_merged_output_all_numb.xlsx', index=False)
bgi.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/1986137214.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  bgi['name'] = bgi['name'].str.split(' ', 1).str[0]

,name,bgi_VNN89Q,bgi_VNIDA4,bgi_V4O7YS,bgi_VPEB3X,bgi_VJ1AZM,bgi_VAEQ34,bgi_VR8E19,bgi_V2VJWP,bgi_VMJVUD,...,bgi_VFZ765,bgi_VI7GET,bgi_VYYIUL,bgi_VC7BF0,bgi_VNJOCX,bgi_V7H80T,bgi_VNFOKA,bgi_VF64R7,bgi_VBSSCF,bgi_VE0WMY
0,0-14-0-20-30-16,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0-14-0-20-34-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0-14-0-20-44-26,0.0,0.0,0.0,0.0,21.0,76.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0-14-0-20-45-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0-14-0-20-51-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
ill = pd.read_csv('input/Illumina_merged_output_all_numb.csv')
# split name column by first space
ill['name'] = ill['name'].str.split(' ', 1).str[0]
ill = ill.groupby('name').sum().reset_index()

ill.to_excel('results/aggregation/numb/genus_Illumina_merged_output_all_numb.xlsx', index=False)
ill.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/2515930509.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  ill['name'] = ill['name'].str.split(' ', 1).str[0]

,name,ill_V97EBU,ill_V1JCFD,ill_V4CXS7,ill_VHCS90,ill_VRKHLF,ill_V1YEIC,ill_VMSN9G,ill_V75JUD,ill_VCJBZ5,...,ill_VE0RG7,ill_VGZKT8,ill_V8L9OK,ill_V9V2LZ,ill_VJPDB3,ill_V9GGFQ,ill_VRVQLE,ill_V5Y6CN,ill_V8A98P,ill_VDZJH4
0,0-14-0-10-38-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0-14-0-20-30-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0-14-0-20-34-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0-14-0-20-44-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0-14-0-20-45-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0