In [2]:
# import packages
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns 
import os
import glob
from datetime import date

## ABUD. Part1 data aggregation

In [2]:
# read in the data
bgi = pd.read_csv('results/Cross-Platform_set_results/BGI_final_abud_part1.csv')

# split name column by first space
bgi['name'] = bgi['name'].str.split(' ', 1).str[0]
bgi = bgi.groupby('name').sum().reset_index()

bgi.to_excel('results/Cross-Platform_set_aggregation/genus_BGI_abud_part1.xlsx', index=False)
bgi.tail()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_43952/849581767.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  bgi['name'] = bgi['name'].str.split(' ', 1).str[0]

,name,bgi_VNN89Q,bgi_VNIDA4,bgi_V4O7YS,bgi_VPEB3X,bgi_VJ1AZM,bgi_VAEQ34,bgi_VR8E19,bgi_V2VJWP,bgi_VMJVUD,...,bgi_VFZ765,bgi_VI7GET,bgi_VYYIUL,bgi_VC7BF0,bgi_VNJOCX,bgi_V7H80T,bgi_VNFOKA,bgi_VF64R7,bgi_VBSSCF,bgi_VE0WMY
0,43-108,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0,0.00000
1,51-20,0.05990,0.0,0.0,0.0,0.01945,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0,0.00000
2,Acetatifactor,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00000,0.01851,0.0,0.00000,0.01117,0.00000,0.0,0.00000
3,Acidaminococcus,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0,0.00000
4,Agathobacter,0.04617,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.01744,0.00000,0.0,0.01431,0.01915,0.01322,0.0,0.02352

In [3]:
ill = pd.read_csv('results/Cross-Platform_set_results/Illumina_final_abud_part1.csv')
# split name column by first space
ill['name'] = ill['name'].str.split(' ', 1).str[0]
ill = ill.groupby('name').sum().reset_index()

ill.to_excel('results/Cross-Platform_set_aggregation/genus_Illumina_abud_part1.xlsx', index=False)
ill.tail()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_43952/322889296.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  ill['name'] = ill['name'].str.split(' ', 1).str[0]

,name,ill_V97EBU,ill_V1JCFD,ill_V4CXS7,ill_VHCS90,ill_VRKHLF,ill_V1YEIC,ill_VMSN9G,ill_V75JUD,ill_VLQ8JO,...,ill_V9SW05,ill_VQWTOE,ill_V2L5KC,ill_VKZ1LX,ill_VEFRKO,ill_V8FXNG,ill_VS2Y5X,ill_VMQ99A,ill_V19CVF,ill_V3B6EO
0,43-108,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0
1,51-20,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.0,...,0.02705,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0
2,Acetatifactor,0.0,0.0,0.0,0.0,0.0,0.00000,0.02934,0.01995,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0211,0.0,0.0,0.0
3,Acidaminococcus,0.0,0.0,0.0,0.0,0.0,0.03086,0.00000,0.00000,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0
4,Agathobacter,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,0.01094,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0

## ABUD. Part2 data aggregation

In [4]:
# read in the data
bgi = pd.read_csv('results/Cross-Platform_set_results/BGI_final_abud_part2.csv')

# split name column by first space
bgi['name'] = bgi['name'].str.split(' ', 1).str[0]
bgi = bgi.groupby('name').sum().reset_index()

bgi.to_excel('results/Cross-Platform_set_aggregation/genus_BGI_abud_part2.xlsx', index=False)
bgi.tail()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_43952/2332576207.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  bgi['name'] = bgi['name'].str.split(' ', 1).str[0]

,name,bgi_VNN89Q,bgi_VNIDA4,bgi_V4O7YS,bgi_VPEB3X,bgi_VJ1AZM,bgi_VAEQ34,bgi_VR8E19,bgi_V2VJWP,bgi_VMJVUD,...,bgi_VFZ765,bgi_VI7GET,bgi_VYYIUL,bgi_VC7BF0,bgi_VNJOCX,bgi_V7H80T,bgi_VNFOKA,bgi_VF64R7,bgi_VBSSCF,bgi_VE0WMY
820,Wujia,0.0,0.00214,0.0,0.00000,0.0,0.0,0.0,0.00795,0.0,...,0.0,0.00653,0.0,0.0,0.00223,0.0,0.00144,0.0,0.00000,0.0
821,Yeguia,0.0,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.00000,0.0,0.0,0.00000,0.0,0.00000,0.0,0.00000,0.0
822,Zag111,0.0,0.00302,0.0,0.00654,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.00000,0.0,0.0,0.04375,0.0,0.00000,0.0,0.02013,0.0
823,Zhenhengia,0.0,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.00000,0.0,0.0,0.00000,0.0,0.00000,0.0,0.00000,0.0
824,Zoogloea,0.0,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.00000,0.0,0.0,0.00000,0.0,0.00000,0.0,0.00000,0.0

In [5]:
ill = pd.read_csv('results/Cross-Platform_set_results/Illumina_final_abud_part2.csv')
# split name column by first space
ill['name'] = ill['name'].str.split(' ', 1).str[0]
ill = ill.groupby('name').sum().reset_index()

ill.to_excel('results/Cross-Platform_set_aggregation/genus_Illumina_abud_part2.xlsx', index=False)
ill.tail()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_43952/3290092511.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  ill['name'] = ill['name'].str.split(' ', 1).str[0]

,name,ill_V97EBU,ill_V1JCFD,ill_V4CXS7,ill_VHCS90,ill_VRKHLF,ill_V1YEIC,ill_VMSN9G,ill_V75JUD,ill_VLQ8JO,...,ill_V9SW05,ill_VQWTOE,ill_V2L5KC,ill_VKZ1LX,ill_VEFRKO,ill_V8FXNG,ill_VS2Y5X,ill_VMQ99A,ill_V19CVF,ill_V3B6EO
830,Wujia,0.00148,0.0,0.00371,0.00219,0.00288,0.0,0.00375,0.0,0.0,...,0.00286,0.0,0.0,0.0,0.00397,0.0,0.00387,0.0,0.0,0.0
831,Yeguia,0.00000,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0,0.0,0.0
832,Zag111,0.00842,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00198,0.0,0.00000,0.0,0.0,0.0
833,Zhenhengia,0.00000,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0,0.0,0.0
834,Zoogloea,0.00000,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0,0.0,0.0

## ABUD. All data aggregation

In [6]:
# read in the data
bgi = pd.read_csv('results/Cross-Platform_set_results/BGI_final_abud_all.csv')

# split name column by first space
bgi['name'] = bgi['name'].str.split(' ', 1).str[0]
bgi = bgi.groupby('name').sum().reset_index()

bgi.to_excel('results/Cross-Platform_set_aggregation/genus_BGI_merged_output_all.xlsx', index=False)
bgi.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_43952/4081090571.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  bgi['name'] = bgi['name'].str.split(' ', 1).str[0]

In [7]:
ill = pd.read_csv('results/Cross-Platform_set_results/Illumina_final_abud_all.csv')
# split name column by first space
ill['name'] = ill['name'].str.split(' ', 1).str[0]
ill = ill.groupby('name').sum().reset_index()

ill.to_excel('results/Cross-Platform_set_aggregation/genus_BGI_abud_all.xlsx', index=False)
ill.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/4271361681.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  ill['name'] = ill['name'].str.split(' ', 1).str[0]

,name,ill_V97EBU,ill_V1JCFD,ill_V4CXS7,ill_VHCS90,ill_VRKHLF,ill_V1YEIC,ill_VMSN9G,ill_V75JUD,ill_VCJBZ5,...,ill_VE0RG7,ill_VGZKT8,ill_V8L9OK,ill_V9V2LZ,ill_VJPDB3,ill_V9GGFQ,ill_VRVQLE,ill_V5Y6CN,ill_V8A98P,ill_VDZJH4
0,0-14-0-10-38-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0-14-0-20-30-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0-14-0-20-34-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0-14-0-20-44-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0-14-0-20-45-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## NUMB. Part1 data aggregation

In [3]:
# read in the data
bgi = pd.read_csv('results/Cross-Platform_set_results/BGI_final_numb_part1.csv')

# split name column by first space
bgi['name'] = bgi['name'].str.split(' ', 1).str[0]
bgi = bgi.groupby('name').sum().reset_index()

bgi.to_excel('results/Cross-Platform_set_aggregation/genus_BGI_numb_part1.xlsx', index=False)
bgi.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_45199/3763700686.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  bgi['name'] = bgi['name'].str.split(' ', 1).str[0]

,name,bgi_VNN89Q,bgi_VNIDA4,bgi_V4O7YS,bgi_VPEB3X,bgi_VJ1AZM,bgi_VAEQ34,bgi_VR8E19,bgi_V2VJWP,bgi_VMJVUD,...,bgi_VFZ765,bgi_VI7GET,bgi_VYYIUL,bgi_VC7BF0,bgi_VNJOCX,bgi_V7H80T,bgi_VNFOKA,bgi_VF64R7,bgi_VBSSCF,bgi_VE0WMY
0,43-108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,51-20,743009.0,0.0,0.0,0.0,270471.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Acetatifactor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,244513.0,0.0,0.0,131123.0,0.0,0.0,0.0
3,Acidaminococcus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Agathobacter,572710.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,220044.0,0.0,0.0,178243.0,224847.0,191282.0,0.0,319686.0

In [4]:
ill = pd.read_csv('results/Cross-Platform_set_results/Illumina_final_numb_part1.csv')
# split name column by first space
ill['name'] = ill['name'].str.split(' ', 1).str[0]
ill = ill.groupby('name').sum().reset_index()

ill.to_excel('results/Cross-Platform_set_aggregation/genus_Illumina_numb_part1.xlsx', index=False)
ill.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_45199/96957180.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  ill['name'] = ill['name'].str.split(' ', 1).str[0]

,name,ill_V97EBU,ill_V1JCFD,ill_V4CXS7,ill_VHCS90,ill_VRKHLF,ill_V1YEIC,ill_VMSN9G,ill_V75JUD,ill_VLQ8JO,...,ill_V9SW05,ill_VQWTOE,ill_V2L5KC,ill_VKZ1LX,ill_VEFRKO,ill_V8FXNG,ill_VS2Y5X,ill_VMQ99A,ill_V19CVF,ill_V3B6EO
0,43-108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,51-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,465491.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Acetatifactor,0.0,0.0,0.0,0.0,0.0,0.0,377366.0,320474.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,263513.0,0.0,0.0,0.0
3,Acidaminococcus,0.0,0.0,0.0,0.0,0.0,440792.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Agathobacter,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175684.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## NUMB. Part2 data aggregation

In [5]:
# read in the data
bgi = pd.read_csv('results/Cross-Platform_set_results/BGI_final_numb_part2.csv')

# split name column by first space
bgi['name'] = bgi['name'].str.split(' ', 1).str[0]
bgi = bgi.groupby('name').sum().reset_index()

bgi.to_excel('results/Cross-Platform_set_aggregation/genus_BGI_numb_part2.xlsx', index=False)
bgi.tail()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_45199/3823980614.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  bgi['name'] = bgi['name'].str.split(' ', 1).str[0]

,name,bgi_VNN89Q,bgi_VNIDA4,bgi_V4O7YS,bgi_VPEB3X,bgi_VJ1AZM,bgi_VAEQ34,bgi_VR8E19,bgi_V2VJWP,bgi_VMJVUD,...,bgi_VFZ765,bgi_VI7GET,bgi_VYYIUL,bgi_VC7BF0,bgi_VNJOCX,bgi_V7H80T,bgi_VNFOKA,bgi_VF64R7,bgi_VBSSCF,bgi_VE0WMY
820,Wujia,3193.0,39518.0,971.0,2195.0,1928.0,572.0,11896.0,175396.0,2928.0,...,7075.0,104800.0,735.0,2689.0,40400.0,1252.0,24042.0,3615.0,2905.0,3630.0
821,Yeguia,2382.0,2897.0,502.0,2840.0,1292.0,962.0,253.0,3660.0,2488.0,...,8862.0,5337.0,1015.0,1853.0,2849.0,120.0,3090.0,2471.0,3631.0,2995.0
822,Zag111,11357.0,48432.0,624.0,84324.0,3120.0,2444.0,286.0,1566.0,9644.0,...,653.0,1846.0,538.0,4427.0,634664.0,305.0,3482.0,374.0,267208.0,2263.0
823,Zhenhengia,0.0,0.0,58.0,42.0,0.0,0.0,0.0,34.0,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0
824,Zoogloea,6501.0,87.0,270.0,73.0,697.0,62.0,81.0,83.0,354.0,...,133.0,104.0,46.0,142.0,26.0,24.0,706.0,493.0,184.0,110.0

In [6]:
ill = pd.read_csv('results/Cross-Platform_set_results/Illumina_final_numb_part2.csv')
# split name column by first space
ill['name'] = ill['name'].str.split(' ', 1).str[0]
ill = ill.groupby('name').sum().reset_index()

ill.to_excel('results/Cross-Platform_set_aggregation/genus_Illumina_numb_part2.xlsx', index=False)
ill.tail()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_45199/4115877199.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  ill['name'] = ill['name'].str.split(' ', 1).str[0]

,name,ill_V97EBU,ill_V1JCFD,ill_V4CXS7,ill_VHCS90,ill_VRKHLF,ill_V1YEIC,ill_VMSN9G,ill_V75JUD,ill_VLQ8JO,...,ill_V9SW05,ill_VQWTOE,ill_V2L5KC,ill_VKZ1LX,ill_VEFRKO,ill_V8FXNG,ill_VS2Y5X,ill_VMQ99A,ill_V19CVF,ill_V3B6EO
830,Wujia,37713.0,680.0,65486.0,43884.0,48668.0,1794.0,63818.0,3092.0,1111.0,...,62006.0,3045.0,581.0,8684.0,65813.0,1404.0,62173.0,755.0,66.0,1681.0
831,Yeguia,4398.0,394.0,1021.0,3410.0,479.0,363.0,1117.0,1575.0,472.0,...,8964.0,1733.0,722.0,2713.0,3763.0,3889.0,501.0,1066.0,0.0,736.0
832,Zag111,121618.0,2599.0,1159.0,5277.0,2330.0,206.0,2466.0,467.0,303.0,...,618.0,2552.0,865.0,22780.0,26309.0,1182.0,965.0,420.0,0.0,1084.0
833,Zhenhengia,0.0,0.0,0.0,0.0,0.0,0.0,71.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0
834,Zoogloea,92.0,0.0,51.0,421.0,3551.0,0.0,0.0,1674.0,473.0,...,119.0,38.0,3721.0,1327.0,81.0,95.0,2842.0,0.0,0.0,494.0

## NUMB. All data aggregation

In [11]:
# read in the data
bgi = pd.read_csv('results/Cross-Platform_set_results/BGI_final_numb_all.csv')

# split name column by first space
bgi['name'] = bgi['name'].str.split(' ', 1).str[0]
bgi = bgi.groupby('name').sum().reset_index()

bgi.to_excel('results/Cross-Platform_set_aggregation/genus_BGI_numb_all.xlsx', index=False)
bgi.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/1986137214.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  bgi['name'] = bgi['name'].str.split(' ', 1).str[0]

,name,bgi_VNN89Q,bgi_VNIDA4,bgi_V4O7YS,bgi_VPEB3X,bgi_VJ1AZM,bgi_VAEQ34,bgi_VR8E19,bgi_V2VJWP,bgi_VMJVUD,...,bgi_VFZ765,bgi_VI7GET,bgi_VYYIUL,bgi_VC7BF0,bgi_VNJOCX,bgi_V7H80T,bgi_VNFOKA,bgi_VF64R7,bgi_VBSSCF,bgi_VE0WMY
0,0-14-0-20-30-16,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0-14-0-20-34-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0-14-0-20-44-26,0.0,0.0,0.0,0.0,21.0,76.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0-14-0-20-45-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0-14-0-20-51-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
ill = pd.read_csv('results/Cross-Platform_set_results/Illumina_final_numb_all.csv')
# split name column by first space
ill['name'] = ill['name'].str.split(' ', 1).str[0]
ill = ill.groupby('name').sum().reset_index()

ill.to_excel('results/Cross-Platform_set_aggregation/genus_Illumina_numb_all.xlsx', index=False)
ill.head()

/var/folders/5j/pvj6k02n3mn9ztpn77vjtfzw0000gn/T/ipykernel_51449/2515930509.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  ill['name'] = ill['name'].str.split(' ', 1).str[0]

,name,ill_V97EBU,ill_V1JCFD,ill_V4CXS7,ill_VHCS90,ill_VRKHLF,ill_V1YEIC,ill_VMSN9G,ill_V75JUD,ill_VCJBZ5,...,ill_VE0RG7,ill_VGZKT8,ill_V8L9OK,ill_V9V2LZ,ill_VJPDB3,ill_V9GGFQ,ill_VRVQLE,ill_V5Y6CN,ill_V8A98P,ill_VDZJH4
0,0-14-0-10-38-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0-14-0-20-30-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0-14-0-20-34-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0-14-0-20-44-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0-14-0-20-45-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0